[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

token="eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3ODAzNDM3NzgsImp0aSI6ImUwZWNhNmY5LWY4OWItNDU4Mi1iNGE2LWE4YjFkM2Q0OGIyOSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NjI0MjM4NCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiYzY2MzgxMzgtNTIzOC00ZDUzLThjZTEtYmJkMzg1YWQxYzlhIiwic2lkIjoiNmQ4M2E5MDEtNTYyMy00NjY3LTg3MGYtY2I1YzlkNDk3ODJlIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.VBLt9HEGwwbBqNBmUC-eWG-hGCg8vMOaRZspH8BdS2y2vKpCq0Sb9HJWDfr0mIPgPDkcuU8aQUPwrZUd4LyA_A" # Get this from console.redhat.com -> Ansible Automation Platform -> Offline Token

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
[root@bastion export-aap]#
